/* NEW HEADER*/
.cursor{
    cursor:  pointer;
}
.intro-header-home {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../images/hero_bg.jpg) no-repeat center center;
    background-size: cover;
}
.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}
/* Map */
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.map {
    height: 300px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}
/* OLD Header*/
.block-header{
    background: url('../images/backgroundThomery.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    min-height: 800px;
}
.page-home {
    padding-top: 200px;
    text-align: center;
}
.page-home h1{
    font-family: Geneva ;
    line-height: 1em;
    font-size: 70px;
    color: #ffffff;
}
.page-home h2, .page-home h3{
    font-size: 40px;
    font-family: Geneva ;
    line-height: 1em;
    color: #ffffff;


}
.title-page-home{
    text-align: center;

}
.title-h1{
    font-size: 50px;
}
.title-page{
    padding: 1%;
    text-align: center;
    font-family: Geneva, serif;
    line-height: 1em;
    font-weight:bold;
}
.work-skill{
    padding-bottom: 3%;
    text-align: center;
}

.circle-skill{
    margin: 3%;
}
.title-skill-circle{
    font-family: Geneva, serif;
    line-height: 1em;
    font-size: 20px;
    text-decoration: none;
}
.work-about{
    background-color: #C7C7C7;
    min-height: 300px;
    /*color: #ffffff;*/
    padding: 3%;
}
.size-image-full{
    width: 100%;
}
.image-tools{
    width: 40%;
    padding-bottom: 10% ;
    cursor :pointer;
}
.work-tools-used{
    text-align: center;
    padding-top: 3%;
}
.work-project{
    background-color: #C7C7C7;
    /*color: #ffffff;*/
    padding: 3%;
}
.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius: 100%;
    width:100%;
    height:100%;
    text-align: center;
}
/* BLOG PANEL */
#blog-bg {
    /*background: url(../images/Salesforce_Logo.png) no-repeat center top;*/
    margin-top: -15px;
    background-attachment: relative;
    background-position: center center;
    min-height: 150px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#blog-bg .badge {
    position: absolute;
    top: 20px;
    left: 35px;
}
.badge-popular {
    background: #3498db;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    border-radius: 100%;
}
.blog-title {
    background: rgba(0,0,0,0.5);
    bottom: 100px;
    padding: 6px;
    color: white;
    font-weight: 700;
    position: absolute;
    display: block;
    width: 120px;
}
.blog-text {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 15px;
    font-size: 12px;
}
/*Content Panel*/
.content-panel {
    background: #ffffff;
    box-shadow: 0px 3px 2px #aab2bd;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-top: 15px;
}
.content-panel h4 {
    margin-left: 10px;
}
/*Panel Size*/

.pn {
    height: 250px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.pn:hover {
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}
.img-project{
    width: 50%;
    margin: auto;
    padding-top: 4%;
}
/*Modal*/
.modal-title-project{
    color :#45C1E1;
}
/*Chart*/
.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}