/* NEW HEADER*/
.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../images/backgroundHeader.jpg) no-repeat center center;
    background-size: cover;
}
.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}
/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}
/* OLD Header*/
.block-header{
    background: url('../images/backgroundThomery.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    min-height: 800px;
}
.page-home {
    padding-top: 200px;
    text-align: center;
}
.page-home h1{
    font-family: Geneva ;
    line-height: 1em;
    font-size: 70px;
    color: #ffffff;
}
.page-home h2, .page-home h3{
    font-size: 40px;
    font-family: Geneva ;
    line-height: 1em;
    color: #ffffff;


}
.title-page-home{
    text-align: center;

}
.title-h1{
    font-size: 50px;
}
.title-page{
    padding: 1%;
    text-align: center;
    font-family: Geneva, serif;
    line-height: 1em;
    font-weight:bold;
}
.work-skill{
    padding-bottom: 3%;
    text-align: center;
}

.circle-skill{
    margin: 3%;
}
.title-skill-circle{
    padding: 1%;
    font-family: Geneva, serif;
    line-height: 1em;
    font-size: 25px;
    text-decoration: none;
}
.work-about{
    background-color: #C7C7C7;
    min-height: 500px;
    color: #ffffff;
    padding: 3%;
}
.image-tools{
    width: 40%;
    padding-bottom: 10% ;
}
.work-tools-used{
    text-align: center;
    padding: 3%;
}
.work-project{
    background-color: #C7C7C7;
    color: #ffffff;
    padding: 3%;
}