.instagram-page {
    margin-top: 2%;
}
.intro-header-instagram {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}
.intro-header-instagram .site-heading,
.intro-header-instagram .post-heading,
.intro-header-instagram .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header-instagram .site-heading,
  .intro-header-instagram .post-heading,
  .intro-header-instagram .page-heading {
    padding: 150px 0;
  }
}
.intro-header-instagram .site-heading,
.intro-header-instagram .page-heading {
  text-align: center;
}
.intro-header-instagram .site-heading h1,
.intro-header-instagram .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header-instagram .site-heading .subheading,
.intro-header-instagram .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header-instagram .site-heading h1,
  .intro-header-instagram .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header-instagram .post-heading h1 {
  font-size: 35px;
}
.intro-header-instagram .post-heading .subheading,
.intro-header-instagram .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header-instagram .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header-instagram .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header-instagram .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header-instagram .post-heading h1 {
    font-size: 55px;
  }
  .intro-header-instagram .post-heading .subheading {
    font-size: 30px;
  }
}
.image-block{

	margin-top: 2%;
	margin-bottom: 2%;
	border: #555555 solid 2px;
}
.color-grey{
	color :#5E5E5E;
}
/* Gallery Configuration */
.photo-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #E7E7E7;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.photo-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #E7E7E7;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.image-insta .overlay {
  position: absolute;
  text-align: center;
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  
}

.image-insta:hover .photo-wrapper {
  background-color: #E7E7E7;
	background-image:url(../images/zoom.png);
	background-repeat:no-repeat;
	background-position:center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: relative;
}
.image-insta:hover .photo {
  opacity: 10;
  filter: alpha(opacity=4000);
  opacity: 0.1;
  filter: alpha(opacity=40);
}
.image-insta:hover .overlay {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}

