<div class="blog-block">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img class="blog-image-left" src="images/logoAngularJs.png"/>
            </div>
            <div class="blog-article col-md-8">
                <h1 class="blog-title-article">
                    AngularJS
                </h1>
                <p><a ng-href="https://angularjs.org/" target="_blank">Site web officiel</a></p>

                <p>AngularJS est un framework JavaScript libre et open-source développé par Google, au même titre que
                    MooTools, Prototype ou Dojo. Il a pour but de simplifier la syntaxe javascript, et de combler les
                    faiblesses de javascript en lui ajoutant de nouvelles fonctionnalités. Et ainsi faciliter la
                    réalisation d'applications web monopages.

                    AngularJS utilise la bibliothèque open source jQuery. Si jQuery n'est pas présent dans le chemin du
                    script, AngularJS reprend sa propre implémentation de jQuery lite. Si jQuery est présent dans le
                    chemin, AngularJS l'utilise pour manipuler le DOM.
                </p>
                <h6>Par Thomas le 2 Octobre 2014 à Boulogne Billancourt</h6>
            </div>
            <div class="col-md-2"></div>
        </div>


        <div class="row">
            <div class="col-md-2">
                <img class="blog-image-left" src="images/Salesforce_Logo.png"/>
            </div>
            <div class="blog-article col-md-8">
                <h1 class="blog-title-article">
                    Salesforce
                </h1>

                <p>
                    Salesforce.com est un éditeur de logiciels, basé à San Francisco aux États-Unis. Il distribue des
                    logiciels de gestion basés sur Internet et héberge des applications d'entreprises. L'entreprise est
                    surtout connue au niveau international pour ses solutions en gestion de la relation client.

                    Précurseur du Cloud Computing, et aujourd’hui leader mondial des outils de relation client,
                    Salesforce compte plus de 100 000 entreprises clientes1 dont Pernod Ricard, AXA ou encore Schneider
                    Electric.

                </p>
                <h6>Par Thomas le 2 Octobre 2014 a Boulogne Billancourt</h6>
            </div>
            <div class="col-md-2"></div>
        </div>


    </div>
</div>
