<div class="block-header" id="ancre-home">
    <div class="container">
        <div class="row page-home">
            <div class="col-md-12">
                <h1>Thomas Paraiso</h1>
                <h2>Développeur Salesforce/Web</h2>
                <h3>AngularJS | Talend | Java | APEX</h3>
            </div>
        </div>

    </div>
</div>

<div class="container title-page" id="ancre-skill">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="title-h1" >Compétences</h1>
        </div>
    </div>
</div>
<div class="work-skill" >
    <div class="container" >
        <div class="row">
            <div class="col-sm-4">
                <div class="circle-skill" easypiechart options="optionsHtmlCss" percent="percentHtmlCss"></div>
                <span class="title-skill-circle">HTML5/CSS3</span>
            </div>
            <div class="col-sm-4">
                <div class="circle-skill" easypiechart options="optionsAngularJs" percent="percentAngularJs"></div>
                <span class="title-skill-circle">AngularJS</span>
            </div>
            <div class="col-sm-4">
                <div class="circle-skill" easypiechart options="optionsJava" percent="percentJava"></div>
                <span class="title-skill-circle">JAVA</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="circle-skill" easypiechart options="optionsJavaScript" percent="percentJavaScript"></div>
                <span class="title-skill-circle">JavaSript</span>
            </div>
            <div class="col-sm-4">
                <div class="circle-skill" easypiechart options="optionsNodeJs" percent="percentNodeJs"></div>
                <span class="title-skill-circle">NodeJs</span>
            </div>
            <div class="col-sm-4">
                <div class="circle-skill" easypiechart options="optionsApex" percent="percentApex"></div>
                <span class="title-skill-circle">APEX(Salesforce)</span>
            </div>
        </div>
    </div>
</div>
</div>
<div class="work-about" id="ancre-about">
    <div class="container">
        <div class="row">
            <div class=" col-md-offset-1  col-md-3 title-skill-circle">
                A propos de moi
            </div>
            <div class="col-md-5 ">
                <p>Passionné depuis toujours par les nouvelles technologies.</p>
                <p>Je suis un cursus informatique pour obtenir le titre d'architecte logiciel à l'Insta. Actuellement, je suis développeur WEB et Apex (Salesforce) chez JLConsulting.</p>
                <p>Je m'entraine aussi dans le développement de systemes embarqués et temps réel, une arduino et une raspberry pi sont de bons moyen pour commencer l'apprentissage. </p>
            </div>
            <div class=" col-md-3 title-skill-circle">
                <a href="#">Télécharger mon CV</a>
            </div>
        </div>
    </div>
</div>
<div class="container title-page" id="ancre-tools-used">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-h1">Outils Utilisés</h1>
        </div>
    </div>
</div>
<div class="work-tools-used" >
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a ng-href="http://www.salesforce.com/" target="_blank">
                    <img class="image-tools" src="images/Salesforce_Logo.png"/>
                </a>
            </div>
            <div class="col-md-4">
                <a ng-href="https://fr.talend.com/" target="_blank">
                    <img class="image-tools" src="images/logoTalend.png"/>
                </a>
            </div>
            <div class="col-md-4">
                <a ng-href="http://java.com/fr/" target="_blank">
                    <img class="image-tools" src="images/logoJava.jpg"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a ng-href="https://angularjs.org/" target="_blank">
                    <img class="image-tools" src="images/logoAngularJs.png"/>
                </a>
            </div>
            <div class="col-md-4">
                <a ng-href="http://nodejs.org/" target="_blank">
                    <img class="image-tools" src="images/logoNodeJs.png"/>
                </a>
            </div>
            <div class="col-md-4">
                <a ng-href="http://cordova.apache.org/" target="_blank">
                    <img class="image-tools" src="images/logoCordova.png"/>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="work-project" id="ancre-project">
    <div class="container title-page">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title-h1" >Mes projets</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 title-skill-circle">
                Interfaçage entre Salesforce et un outil interne de devis
            </div>
            <div class="col-md-5 ">
                <p>Mise en place de tableau récapitulatif de devis, les devis étant present dans le logiciel de l'entreprise,
                il a fallut que les commerciaux puissent les retrouver dans Salesforce, donc mise en pratique de l'apex pour avoir des viseuls simples et induitifs.</p>
                <p>Pour que les données soient presentes dans salesforce depuis l'autre logiciel, il a fallu interfaçé pour cela l'utilisation de talend vu indispensable, avec
                la mise en place de web service, pouvant renvoyer les données d'un devis en fonction du numéro d'Id. </p>
            </div>
            <div class="col-md-3 title-skill-circle">
                2014
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-4 title-skill-circle">
                Mise en place d'une solution Salesforce pour un centre d'appel
            </div>
            <div class="col-md-5 ">
                <p>Un centre d'appel voulez une solution pour leur téléopérateur, un système fiable, rapide. </p>
                <p> Pour cela avec l'aide d'un collègue, on leur a développé une solution salesforce customizé,
                c'est à dire que nous avons pas utilisé les pages de base de Salesforce, mais nous avons recréer des visuels via des pages Visualforce pour qu'on reponde au mieux à l'heure besoin.</p>
                <p>On a défini plusieurs interface dont l'accèssibilité dépend des droits de l'utilisateur qui se connect.</p>
                <p>Pour le fonctionnement de l'application, chaque matin, le manager doit uploder un fichier dans salesforce pour partager les différentes pistes aux téléopérateur(ce partage est fait automatiquement).</p>
            </div>
            <div class="col-md-3 title-skill-circle">
                2014
            </div>
        </div>
    </div>
</div>
