<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Thomas Paraiso</h1>
                    <h2>Développeur</h2>
                    <h3>Salesforce | Talend | Java | JavaScript</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://twitter.com/ThomAiso" class="btn btn-default btn-lg"> <i class="fa fa-twitter fa-fw"></i>
                            <span class="network-name">Twitter</span>
                            <img style="max-width:25px;"
                            src="images/logoTwitter.png"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/tom901" class="btn btn-default btn-lg"> <i class="fa fa-github fa-fw"></i>
                            <span class="network-name">Github</span>
                            <img style="max-width:25px;"
                            src="images/logoGitHub.png"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://fr.linkedin.com/pub/thomas-paraiso/a2/799/135" class="btn btn-default btn-lg">
                            <i class="fa fa-linkedin fa-fw"></i>
                            <span class="network-name">Linkedin</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container title-page" id="ancre-skill">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="title-h1" ></h1>
        </div>
    </div>
</div>
<div class="work-skill" >
    <div class="container" >
        <div class="row">
            <div class="col-sm-4">
                <div class="circle-skill" easypiechart options="optionsHtmlCss" percent="percentHtmlCss"></div>
                <span class="title-skill-circle">HTML5/CSS3</span>
            </div>
            <div class="col-sm-4">
                <div class="circle-skill" easypiechart options="optionsAngularJs" percent="percentAngularJs"></div>
                <span class="title-skill-circle">AngularJS</span>
            </div>
            <div class="col-sm-4">
                <div class="circle-skill" easypiechart options="optionsJava" percent="percentJava"></div>
                <span class="title-skill-circle">JAVA</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="circle-skill" easypiechart options="optionsJavaScript" percent="percentJavaScript"></div>
                <span class="title-skill-circle">JavaSript</span>
            </div>
            <div class="col-sm-4">
                <div class="circle-skill" easypiechart options="optionsNodeJs" percent="percentNodeJs"></div>
                <span class="title-skill-circle">NodeJs</span>
            </div>
            <div class="col-sm-4">
                <div class="circle-skill" easypiechart options="optionsApex" percent="percentApex"></div>
                <span class="title-skill-circle">APEX(Salesforce)</span>
            </div>
        </div>
    </div>
</div>
<div class="work-about" id="ancre-about">
    <div class="container">
        <div class="row">
            <div style="text-align: center;" class="col-md-3 title-skill-circle">
                <br/>
                <p>A propos de moi</p>
                <a href="http://certification.salesforce.com/verification?&fullname=thomas%20paraiso">
                <img style="width : 70%;" src="images/logoCertified.png"/>
                </a>
            </div>
            <div class="col-md-6">
                <br/>
                <p>Passionné depuis toujours par les nouvelles technologies.</p>
                <p>
                Je suis un cursus informatique pour obtenir le titre d'architecte logiciel à l'Insta. Actuellement, je suis développeur WEB et Apex (Salesforce) chez JLConsulting.
                </p>
                <p>
                Je m'entraine aussi dans le développement de systemes embarqués et temps réel, une arduino et une raspberry pi sont de bons moyen pour commencer l'apprentissage.
                </p>
            </div>
            <div class=" col-md-3 title-skill-circle">
                <div class="roundedImage">
                    <img style="width : 100%;" src="images/photoMeAbout.jpg"/>
                </div>
                <!-- LIEN POUR TELECHARGER LE CV -->
                <!-- <br/>
                                        <br/>
                                        <a href="#">Télécharger mon CV</a>
                -->
            </div>
        </div>
    </div>
</div>

<div class="work-tools-used" id="ancre-tools-used">>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a ng-href="http://www.salesforce.com/" target="_blank">
                <img class="image-tools" src="images/Salesforce_Logo.png"/>
                </a>
            </div>
            <div class="col-md-4">
                <a ng-href="https://fr.talend.com/" target="_blank">
                <img class="image-tools" src="images/logoTalend.png"/>
                </a>
            </div>
            <div class="col-md-4">
                <a ng-href="http://java.com/fr/" target="_blank">
                <img class="image-tools" src="images/logoJava.jpg"/>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a ng-href="https://angularjs.org/" target="_blank">
                <img class="image-tools" src="images/logoAngularJs.png"/>
                </a>
            </div>
            <div class="col-md-4">
                <a ng-href="http://nodejs.org/" target="_blank">
                <img class="image-tools" src="images/logoNodeJs.png"/>
                </a>
            </div>
            <div class="col-md-4">
                <a ng-href="http://cordova.apache.org/" target="_blank">
                <img class="image-tools" src="images/logoCordova.png"/>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="work-project" id="ancre-project">
    <!-- <div class="container title-page">
            <div class="row">
                    <div class="col-sm-12">
                            <h1 class="title-h1" >Mes projets</h1>
                    </div>
            </div>
    </div> -->
    <div class="container">
        <div class="row" >
            <div id="projects" ng-repeat="project in projects">
                <div class="col-lg-4 col-md-4 col-sm-4 mb">
                    <div class="content-panel pn">
                        <div id="blog-bg">
                            <div class="img-project">
                                <img style="width : 100%;" ng-src="{{project.pathImageProject}}"/>
                            </div>
                            <div class="blog-title" data-toggle="modal" data-target="#myModal" ng-click="setSelectedProject($index)">{{project.shortTitleProject}}</div>
                        </div>
                        <div class="blog-text">
                            <p>{{project.titleProject}}<a data-toggle="modal" data-target="#myModal" ng-click="setSelectedProject($index)"> Plus d'info</a></p>
                            <!-- <p>{{project.titleProject}}<a ui-sref="projectDetail"> Plus d'info</a></p> -->
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="col-md-4 title-skill-circle">{{project.titleProject}}</div>
                    <div class="col-md-5 ">
                            <p ng-bind-html-unsafe='project.text'/>
                    </div>
            <div class="col-md-3 title-skill-circle">{{project.dateProject}}</div> -->

        </div>
    </div>
</div>
<!-- Map -->
<section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=JLConsulting&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=JLConsulting&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
    <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=JLConsulting&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=JLConsulting&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
</section>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title modal-title-project">{{projects[selectedProject].titleProject}}</h3>
                <h6>{{projects[selectedProject].dateProject}}</h6>
            </div>
            <div class="modal-body">
                <p ng-bind-html-unsafe='projects[selectedProject].textProject'/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>

    </div>
</div>