<div class="instagram-page">
    <header class="intro-header-instagram" style="background-image: url('../images/backgroundThomery.JPG')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Instagram</h1>
                        <hr class="small">
                        <span class="subheading">Mes dernières photos</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6"  ng-repeat="i in instaobj">
                <div class="project-wrapper">
                    <div class="image-insta">
                        <div class="photo-wrapper image-block">
                            <div class="photo">
                                <a ng-href="{{i.link}}" target="_bank">
                                    <img src="{{i.images.standard_resolution.url}}" class="insta-img img-responsive " />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>